name: FastAPI CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Build and start services
        run: |
          docker compose up -d --build

      - name: Wait for API to be ready
        run: |
          docker compose ps
          sleep 10

      - name: Run tests inside app container
        run: |
          docker compose exec -T app pytest

      - name: Show logs on failure
        if: failure()
        run: |
          docker compose logs

      - name: Shutdown services
        if: always()
        run: |
          docker compose down -v
